:root {
    --primary:#2f354d;
    --secondary: #038077;
    --light-sec: #c8e6e2;
    --red: #e60003;
    --light-pink: #ff758c;
    --yellow: #e49100;
    --light-yellow: #fee7ae;
    --light-teal:#00ddc9;
    --light-purple: #7d8ace;
    --text-color: #373737;
    --white:#f8f8fd;
    --light-gray: #ebebeb;
    --shadow: #64646f33 0px 7px 29px 0px;
    --box-shadow: 0 0 #0000, 0 0 #0000,#64646f33 0px 7px 29px 0px;
}

