/* importing utils from my Component Library - https://dazzle-ui.netlify.app */

@import url("https://dazzle-ui-components.netlify.app/components/utils/margin-utils.css");
@import url("https://dazzle-ui-components.netlify.app/components/utils/padding-utils.css");
@import url("https://dazzle-ui-components.netlify.app/components/utils/flex-utils.css");
@import url("https://dazzle-ui-components.netlify.app/components/utils/text-utils.css");

/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color)
}

/* -----------------utils---------------- */

.cursor-pointer {
  cursor: pointer;
}

/* text utils */

.text-teal {
  color: var(--light-teal);
}

.text-secondary {
  color: var(--secondary);
}

.text-red {
  color: var(--red)
}

.text-gray {
  color: var(--dark-gray);
}

.text-white {
  color: var(--white);
}

.number-font {
  font-family: 'Roboto', sans-serif;
}

.text-super-lg {
  font-size: 3rem;
  margin: 0;
}

.text-xxs {
  font-size: 0.5rem;
}

.text-sm {
  font-size: 0.95rem;
}

/* background utils */

.bg-teal {
  background-color: var(--light-teal);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-light-secondary {
  background-color: var(--light-secondary);
}

.bg-red {
  background-color: var(--red);
}

.bg-light-red {
  background-color: var(--light-red);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-light-yellow {
  background-color: var(--light-yellow);
}

.bg-white {
  background-color: var(--white);
}

/* width utils */
.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}