/* importing utils from my Component Library - https://dazzle-ui.netlify.app */

@import url("https://dazzle-ui-components.netlify.app/components/utils/margin-utils.css");
@import url("https://dazzle-ui-components.netlify.app/components/utils/padding-utils.css");
@import url("https://dazzle-ui-components.netlify.app/components/utils/flex-utils.css");
@import url("https://dazzle-ui-components.netlify.app/components/utils/text-utils.css");

/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -----------------utils---------------- */

.cursor-pointer {
  cursor: pointer;
}

/* text utils */

.text-teal {
  color: var(--light-teal);
}

.text-red {
  color: var(--red)
}

.text-gray {
  color: var(--dark-gray);
}

.text-white {
  color: var(--white);
}

.number-font {
  font-family: 'Roboto', sans-serif;
}

.text-super-lg {
  font-size: 3rem;
  margin: 0;
}

/* background utils */

.bg-teal {
  background-color: var(--light-teal);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-light-red {
  background-color: var(--light-red);
}

.bg-white {
  background-color: var(--white);
}